*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

/* =============== Mobile first =============== */

/* Menu navigation */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1D84B5;
    height: 50px;
}

header > a {
    color: #fff;
    background-color: #0071A7;
    padding: 15px;
    height: 100%;
    width: 60px;
    text-align: center;
}

header > a:hover {
    background-color: #0072a78a;
}

header .bars {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

header .bars span {
    font-size: 16px;
    color: #fff;
}

nav {
    z-index: 2;
    position: absolute;
    background-color: #1D84B5;
    top: 0;
    left: -50%;
    height: 100vh;
    width: 50%;
    transition: all 0.5s ease-in-out;
    border-right: 1px solid rgba(98, 98, 98, 0.433);
}

nav.active {
    left: 0;
}

nav ul {
    display: flex;
    flex-direction: column;
}

nav h2 {
    padding: 20px;
    text-align: left;
    color: #fff;
    border-bottom: 1px solid rgba(50, 49, 49, 0.421);
}

nav ul li a{
    color: #fff;
}

nav ul li {
    padding: 15px 22px;
    border-bottom: 1px solid rgba(50, 49, 49, 0.421);
}

.fa-bars , .fa-xmark{
    color: #fff;
    font-size:18px;
    margin-left: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #171d22;
    z-index: 1; 
    transition: all 700ms ease-in-out;
    visibility: hidden;
}

.active-overlay {
    opacity: 0.80;
    visibility: visible;
  }

/* Fin menu navigation */

/* Main présentation */

.logo {
    background-color: #364253;
    color: #fff;
    padding-block: 20px;
    border-bottom: 1px solid rgba(166, 159, 159, 0.298);
}

.logo h1 {
    text-align: center;
    font-size: 64px;
}

.welcome {
    background-color: #364253;
    padding-block: 40px;
    color: #fff;
}

.welcome h2 {
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
}

.welcome p {
    text-align: center;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 132.523%;
    width: 70%;
    margin: auto;
}

/* Search bar */

.search-container {
    width: 90%;
    position: relative;
    padding-block: 35px;
    margin: auto;
}

.search-container input[type=text] {
    padding: 20px;
    font-size: 17px;
    border: 1px solid grey;
    width: 100%;
    background: #303B4B;
    outline: none;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.search-container input[type=text]:hover {
    border: 1px solid #065980;
}

.search-container input[type=text]:focus {
    border: 1px solid #1D84B5;
}

/* couleur du placeholder de l'input en blanc */
.search-container input[type=text]::placeholder {
    color: #fff;
}

.search-container button {
    position: absolute;
    right: 0;
    padding: 21px 26px;
    background: #1D84B5;
    color: #fff;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background: #28adeb;
}

/* Fin search bar */

/* Fin main présentation */

/* Join us ! */

.join-us {
    background-color: #1D84B5;
    padding: 40px 30px;
    color: #fff;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.join-us h3 {
    font-size: 24px;
    margin-block: 15px;
    width: fit-content;
}

.join-us p {
    font-size: 16px;
    font-style: italic;
    color: #1E1E1E;
    line-height: 168.023%;
}

.join-us a {
    color: #fff;
    background-color: #364253;
    padding: 15px 20px;
    width: fit-content;
    transition: all 0.3s ease-in-out;
}

.join-us a:hover {
    background-color: #364253d3;
}

/* Fin join us ! */

/* Début forums */

.forums {
    width: 95%;
    margin: auto;
    margin-block: 20px;
    border: 1px solid #A69F9F;
}

.forums h3 {
    color: #464646;
    background-color: #F1F1F1;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

.forums ul li {
    position: relative;
    border-top: 1px solid #A69F9F;
    padding: 10px;
    min-height: 100px;
}

.forums ul li a {
    color: black;
    font-size: 24px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.forums ul li a:hover {
    color: #1D84B5;
}

.forums ul li p {
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    line-height: 168.023%;
    width: 70%;
    color: #5c5d5e;
}

.forums .closed {
    background-color: #FF5A5F;
    padding: 3px;
    font-size: 10px;
    border-radius: 5px;
    color: #fff;
    position: absolute;
    top: 10px;
}

/* Fin forums */

/* Début liste des sujets */

.mobile-none {
    display: none;
}

/* File d'ariange */

.file-ariane {
    background-color: #E8E8E8;
    border-left: 3px solid #1D84B5;
    width: 95%;
    margin: auto;
    padding: 13px 10px;
    margin-block: 15px;
}

.file-ariane h2 {
    display: flex;
    align-items: baseline;
    font-size: 16px;
    gap: 5px;
    color: #2E2E2E;
    font-weight: 600;
}

.file-ariane h2 a {
    color: #2E2E2E;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
}

.file-ariane h2 i:not(:first-child) {
    font-size: 12px;
    color: #2E2E2E;
}

/* Fin file d'ariane */

/* Liste des sujets */

.topics-container {
    width: 95%;
    margin: auto;
    margin-block: 20px;
}

.topics-container table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #c2bebe;
}

.topics-container table tr:first-child {
    background-color: #E8E8E8;
    color: #464646;
}

.topics-container table tr th:first-child:not(:last-child) {
    text-align: start;
    padding: 10px;
    color: #464646;
}

.topics-container table tr:not(:first-child) td {
    padding: 10px;
}

.topics-container table .topic-title {
    color: #1E1E1E;
    font-size: 20px;
    font-weight: 600;
}

.topics-container .madeby {
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
}

.topics-container .madeby .author {
    color:#065980;
    font-style: normal;
}

.topics-container .nb-post {
    text-align: center;
    font-weight: 600;
    color: #171d22;
}

/* Début footer */

footer {
    background-color: #364253;
    color: #fff;
    padding: 30px 20px;
}

footer p a {
    color: #fff;
    text-decoration: underline;
}

footer .social {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-top: 25px;
}

footer .social a {
    border: 1px solid #95959559;
    padding: 5px;
    border-radius: 100%;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

footer .social a i {
    color: #C7C7C7;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
}

footer .social a:hover {
    border: 1px solid #fff;
}

footer .social a:hover i {
    color: #fff;
}