* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


table {
    min-width: 60%;
    border-collapse: collapse;
    border: none;
}

/* Un TD sur 2 aura une couleur de fond différent */
table tr:nth-child(2n) {
    background-color: rgb(234, 242, 248);
}

td {
    padding: 10px;
    text-align: start;
}
  
th {
    text-align: start;
    padding: 10px;
}

.topics-container th:nth-child(1) {
    width: auto; /* Laisser la largeur de la première colonne automatique */
}

.topics-container th:nth-child(2),
.topics-container th:nth-child(3),
.topics-container th:nth-child(4) {
    width: 1%; /* Largeur minimale pour les autres colonnes */
}

.topics-container td:nth-child(1) {
    width: auto; /* Laisser la largeur de la première colonne automatique */
}

.topics-container td:nth-child(2),
.topics-container td:nth-child(3),
.topics-container td:nth-child(4) {
    width: 1%; /* Largeur minimale pour les autres colonnes */
}

.topics-container td:nth-child(3) {
    text-align: center;
}
/* ================== Début vue topic ================== */

.user-date a {
    color: rgb(49, 49, 49);
    font-weight: 600;
}

.user-date p {
    color: rgb(25, 132, 255);
    font-size: 13px;
}

.posts-container {
    width: 90%;
    margin: auto;
    margin-block: 50px;
}

.topics-container {
    width: 100%;
    margin: auto;
    margin-block: 30px;
}

table {
    width: 80%;
    margin: auto;
}

.post-block {
    background-color: rgb(245, 244, 244);
    padding: 15px;
    width: 80%;
    margin: 10px auto;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
}

/* Boutton suppression post */
.post-block > a {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    background-color: rgb(204, 16, 16);
    padding: 5px;
    border-radius: 5px;
}

/* Un block poster sur 2 a une couleur de fond différent */
.post-block:nth-child(2n) {
    background-color: rgb(234, 242, 248);
}

.post-info {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid rgb(199, 199, 199);
    padding-block: 10px;
}

.post-info figure img {
    border-radius: 100%;
}

.user-date {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.post-block > p {
    margin-block: 20px;
}

form {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px solid rgb(221, 221, 221);
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(245, 244, 244);
}

form textarea {
    width: 100%;
    min-height: 120px;
    margin: auto;
    outline: none;
    font-size: 18px;
    padding: 10px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 5px;
}

form .champ-titre {
    margin-block: 10px;
    padding: 10px;
    outline: none;
    font-size: 18px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 5px;
}

form textarea:focus , form .champ-titre:focus {
    border: 1px solid rgb(145, 144, 144);
    box-shadow: 0 0 5px rgb(145, 144, 144);
}

form .submit {
    width: fit-content;
    margin-block: 10px;
    padding: 10px 40px;
    background-color: rgb(189, 222, 252);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

form .submit:hover {
    background-color: rgb(176, 216, 253);
}

form label {
    font-size: 22px;
    font-weight: 600;
    margin-block: 10px;
}

/* Boutton nouveau sujet */
.btn-add {
    width: 80%;
    margin: auto;
    margin-block: 20px;
}

.nv_sujet:hover {
    background-color: rgb(176, 216, 253);
}

.nv_sujet {
    color: rgb(36, 36, 36);
    padding: 10px;
    background-color: rgb(189, 222, 252);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    width: fit-content;
}